@import './variables.scss';

@font-face {
  font-family: 'AR JULIAN';
  src:
      local('AR JULIAN'),
      local('ARJULIAN'),
      url('/fonts/ARJULIAN.woff2') format('woff2'),
      url('/fonts/ARJULIAN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  // Spacing
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;

  // Colors
  --color-white: #fff;
  --color-gray: #a9a9a9;
  --color-black: #000;
  --color-red: #871216;
  --color-red-dark: #170304;

  // Shadow
  --shadow: 0 0 var(--spacing-xxs) var(--color-gray);

  // Container
  --container-width: 80vw;

  @media screen and (min-width: $screen-md) {
    --container-width: minmax(45em, 80vw);
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'AR JULIAN', serif;
  background-image: url('../assets/images/bg.jpeg');
  text-shadow: var(--shadow);
  box-sizing: border-box;
}

// Loading
.loading {
  font-size: 3rem;
  padding: var(--spacing-xs) var(--spacing-sm);

  @media screen and (min-width: $screen-sm) {
    font-size: 5rem;
  }
}

// Container
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--container-width);
}

/**
 * Utility classes
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}