@font-face {
  font-family: 'AR JULIAN';
  src: local('AR JULIAN'), local('ARJULIAN'),
      url('../assets/fonts/ARJULIAN.woff2') format('woff2'),
      url('../assets/fonts/ARJULIAN.woff') format('woff')
      url('../assets/fonts/ARJULIAN.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


// Screen sizes
$screen-sm: 30em;
$screen-md: 45em;

:root {
  // Spacing
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;

  // Colors
  --color-white: #fff;
  --color-gray: #a9a9a9;
  --color-black: #000;
  --color-red: #871216;
  --color-red-dark: #170304;

  // Shadow
  --shadow: 0 0 var(--spacing-xxs) var(--color-gray);

  // Container
  --container-width: 80vw;

  @media screen and (min-width: $screen-md) {
    --container-width: minmax(45em, 80vw);
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'AR JULIAN', serif;
  background-image: url('../assets/images/bg.jpeg');
  text-shadow: var(--shadow);
  box-sizing: border-box;
}

// Loading
.loading {
  font-size: 3rem;
  padding: var(--spacing-xs) var(--spacing-sm);

  @media screen and (min-width: $screen-sm) {
    font-size: 5rem;
  }
}

// Container
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--container-width);
}

// Tips
.tips {
  display: grid;
  grid-template-columns: var(--container-width);
  grid-template-rows: 1fr;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}

.tip {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s;

  &.active {
    opacity: 1;
  }
}

// Footer
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto;
  padding: var(--spacing-xs);
  display: flex;
  justify-content: flex-end;

  svg {
    width: 100px;
    height: var(--spacing-xl);
    filter: drop-shadow(var(--shadow));

    @media screen and (min-width: $screen-sm) {
      width: 150px;
      height: var(--spacing-xxl);
    }
  }
}

/**
 * Utility classes
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}