.hints {
  display: grid;
  grid-template-columns: var(--container-width);
  grid-template-rows: 1fr;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}

.hint {
  position: relative;
  z-index: -1;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: pre-line;

  &.active {
    opacity: 1;
    z-index: 0;
  }
}